{{> head}}
<body>

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Laboris labore nulla minim.</h1>
        </div>
        <div class="col">
            <img src="assets/img/koyuki-the-cat.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer}}